body {
    box-sizing: border-box;
    font-family: "digital";
    text-align: center;
    background-color: rgb(55, 0, 66);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    background-image: url("../src/img/ciel-3.jpg");
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    margin:0px;
}

main {
    padding-top: 5%;
}

main button {
    height: 40px;
    width: auto;
    border: none;
    font-family: "digital";
    font-size: 20px;
    margin: 2px;
    background-color: rgb(138, 0, 103);
    color: ivory;
    border-radius: 5px;
    outline-style: none;
    opacity: 0.8;
}

button:hover {
    background-color: rgb(209, 0, 157);
    color: ivory;
}

button:active {
    background-color: rgb(209, 0, 157);
    color: ivory;
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
}

button:disabled {
    cursor: not-allowed;
    color: rgb(209, 0, 157);
    background-color: rgba(255, 255, 240, 0.322);
}

.pomodoro {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(58, 0, 165);
    color: rgb(217, 161, 255);
    font-size: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    text-shadow: 0px 0px 5px rgb(161, 21, 255);
    -webkit-box-shadow: inset 3px 3px 5px rgb(21, 0, 61), inset 0px 0px 7px 0px rgb(168, 121, 255), 0px 0px 10px rgb(15, 0, 43);
    -moz-box-shadow: inset 3px 3px 5px rgb(21, 0, 61), inset 0px 0px 7px 0px rgb(168, 121, 255), 0px 0px 10px rgb(15, 0, 43);
    box-shadow: inset 3px 3px 5px rgb(21, 0, 61), inset 0px 0px 7px 0px rgba(168, 121, 255, 0.4), 0px 0px 15px 5px rgb(15, 0, 43);
}

.first {
    height: 100%;
}

.timerControl {
    width: auto;
    min-width: 150px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.breakControl {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: rgb(98, 0, 163);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.breakPanel{
    margin: 10px;
    padding: 5px;
    background-color: rgba(202, 174, 255, 0.6);
    border-radius: 10px;
}

.sessionControl {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: rgb(98, 0, 163);
    margin-left: auto;
    width: fit-content;
    margin-right: auto;
}
.sessionPanel{
    margin:10px;
    padding: 5px;
    background-color: rgba(202, 174, 255, 0.6);
    border-radius: 10px;
}

.timer {
    font-size: 45px;
}

.disposition {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 240, 0.5);
    border-radius: 5px;
    max-width: 500px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}

#github{
    color: rgb(255, 158, 231);
    text-decoration: none;
    text-shadow: 0 0 10px rgb(153, 0, 255);
}

#github:hover{
    color: rgb(138, 0, 103);
    text-decoration: none;
}

#github:active{

    color: rgb(138, 0, 103);
    text-decoration: none;
    text-shadow: 0px 0px 20px rgb(209, 0, 157);
}
#github:visited{
    text-decoration: none;
}

h1 {
    font-size: 70px;
    color: snow;
    margin-top: 5px;
    margin-bottom: 10px;
    text-shadow: 0px 0px 5px rgba(191, 95, 255, 0.9);
}

h4 {
    font-size: 30px;
    color: rgb(136, 1, 189);
    margin-top: 10px;
    margin-bottom: 10px;
}

.Session {
    border-radius: 10vh;
    background-color: rgba(221, 221, 221, 0.4);
    z-index: 1;
    width: 15%;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 42.5%;
    margin-right: 42.5%;
    text-align: center;
    font-size: 100%;
    color: rgb(153, 0, 255);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4), -2px -2px 3px rgba(255, 255, 255, 0.4);
}

i {
    margin: 0 10px;
}

@font-face {
    font-family: "digital";
    src: url("./ds_digital/DS-DIGI.TTF");
}

@media screen and (max-width:780px){
    body{
        background-size: cover;
    }
    main{
        max-width: 350px;
        padding-top: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    main button{
        height: 25px;
        margin:2px;
        margin-top: 15px;
        justify-self: center ;
    }
    h1{
        font-size: 40px;
    }
    h4{
        font-size: 25px;
        margin: 5px;
    }
    .Session{
        width:auto;
        min-width: 100px;
        font-size: 30px;
        margin-left: 10%;
        margin-right:10%;
    }
    .disposition{
        flex-direction: column;
        margin-top: 5px;
    }
    .timerControl{
        min-width: 110px;
        margin: 10px;
    }
    .Column{
        display: flex;
        flex-direction: column;

    }
    .pomodoro{
        max-width: 300px;
        margin-bottom: 10px;
        font-size: 35px;
    }
    .breakControl{
        padding: 10px;
        font-size: 25px;
        align-items: baseline;
    }
    .sessionControl{
        font-size: 25px;
        padding: 10px;
        align-items: baseline;
    }
}